@import '../node_modules/bootstrap/scss/bootstrap.scss';
// Variables
// Colors
$at-border-color: $gray-300;
// Buttons
$btn-radius: 10px;
$bx-radius: 30px;
// Gallery
$at-gallery-item-width: 214px;

// Mixins
// Brand
@mixin primary {
  background: $primary;
  *,
  a {
    color: $white;
  }
  button,
  a,
  select {
    background-color: $gray-800;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}
// Elements mixin
@mixin top-nav {
  * {
    margin: 0;
  }
  li a {
    border-right: 1px solid $white;
    padding: 15px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    line-height: 1.5;
  }
  ul {
    display: flex;
    margin-bottom: 0 !important;
  }
  li {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .btn {
    border-radius: 0;
    background: $white;
    margin: 10px;
    color: $black;
    border-radius: $btn-radius;
    padding: 3px 20px;
  }
}
// End mixins

// Style
// Global
* {
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  // border-radius: $btn-radius * 4 !important;
}
a,
button,
select {
  outline: none;
  cursor: pointer;
  color: $gray-800;
}
// Bootstrap
.at-slider-hero {
  .carousel-control-prev {
    left: 100px;
  }
  .carousel-control-next {
    right: 100px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 340px;
    bottom: 340px;
    width: 40px;
    height: 40px;
  }
}
.carousel-control-prev {
  width: 25px;
  height: 25px;
  border-radius: $btn-radius;
  background: $primary;
  opacity: 1;
  border: 0 none;
  top: -40px;
  left: auto;
  right: 30px;
  span {
    font-size: 10px;
    background-size: 12px;
  }
}
.carousel-control-next {
  width: 25px;
  height: 25px;
  border-radius: $btn-radius;
  background: $primary;
  opacity: 1;
  border: 0 none;
  top: -40px;
  left: auto;
  right: 0px;
  span {
    font-size: 10px;
    background-size: 12px;
  }
}
// Bootstrap fix
.btn {
  border-radius: $btn-radius;
  z-index: 2;
}
.border-end {
  border-right: 1px solid $gray-300;
}
.form-select {
  background: $gray-300;
  border-radius: $btn-radius;
  border: 0;
  padding: 5px $grid-gutter-width / 2;
}
.form-control {
  border-radius: $btn-radius;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: $btn-radius;
  border-bottom-left-radius: $btn-radius;
}
// Navbar
.navbar {
  a {
    color: $gray-800;
  }
}
// Accordion
.accordion-item {
  padding-bottom: 0;
  .accordion-header {
    padding: 10px 15px;
    margin-bottom: 0;
  }
  .accordion-body {
    padding: 10px 15px;
  }
  button {
    background-color: transparent;
    margin: 0;
  }
}

// AT Helper Classes
.at-primary {
  @include primary;
}
// box
.at-box-radius {
  border-radius: $bx-radius;
}
.at-box-1 {
  border: 2px solid $at-border-color;
  margin-top: $grid-gutter-width / 2;
  padding: $grid-gutter-width / 2;
}
.at-box-2 {
  border-radius: $btn-radius;
  border: 1px solid $gray-300;
  .at-element-title {
    background-color: $gray-300;
    padding: 10px 15px;
    border-top: none;
    border-top-left-radius: $btn-radius;
    border-top-right-radius: $btn-radius;
  }
}
.at-box-3 {
  border-radius: $btn-radius;
  border: 1px solid $gray-300;
  padding: 15px;
}
.at-list-wrap {
  margin-left: -$grid-gutter-width/3;
  margin-right: -$grid-gutter-width/3;
}
.at-list-box {
  padding: $grid-gutter-width/3;
}
// Spacing
.at-no-padding {
  padding: 0 !important;
}
.at-no-margin {
  margin: 0 !important;
}
// Button
.at-btn-block {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid $primary;
  margin-top: 20px;
}
// Borders
.at-border-b {
  border-bottom: 1px solid $primary;
}
// Sections
.at-section {
  padding: 30px 0;
}
.at-section-s {
  .at-element {
    padding: 0;
    margin: 0;
  }
}
.breadcrumb {
  background-color: $gray-300;
  padding-top: 10px;
  padding-bottom: 10px;
}
// Header
.header-b {
  padding: 15px 0;
  .at-header-icon {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }
}
.at-title-sm {
  border-bottom: 1px solid $primary;
  padding-bottom: 10px;
}

// Footer
.at-address {
  svg {
    margin-right: 10px;
  }
}

// Elements
.at-element {
  margin-top: 30px;
  margin-bottom: 30px;
  .at-form-select-1 {
    position: absolute;
    top: 45px;
    right: 15px;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
    .border-end {
      padding-right: $grid-gutter-width;
    }
  }
}
.at-element-title {
  border-top: 2px solid $primary;
  border-bottom: 1px solid $at-border-color;
  padding: 10px 0;
}
// Cart
.at-cart-note {
  background: #fd7e14;
  color: #fff;
  font-size: 8px;
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  top: -5px;
  right: 14px;
}
// Deals
.at-deals {
  .at-deal-img {
    float: left;
    margin-right: $grid-gutter-width / 2;
  }
  .at-count-unit {
    padding: $grid-gutter-width / 12;
    margin-right: $grid-gutter-width / 6;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
  .at-box-radius {
    &:hover {
      border: 2px solid $primary;
    }
  }
}
// Tabs
.at-tabs {
  .at-element-body {
    margin-top: -49px;
  }
  .nav-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
    button {
      background-color: transparent;
    }
  }
}
// Feature set
.at-feature-set {
  padding: 15px;
  color: $gray-600;
  span {
    margin-left: 0;
  }
  h4 {
    color: $black;
    margin-top: 10px;
  }
  img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: $grid-gutter-width / 3;
  }
}
// Gallery selected products
.at-gallery-wrap {
  margin-right: -10px;
  // margin-left: -10px;
  box-sizing: border-box;
}
.at-gallery-item {
  width: $at-gallery-item-width;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  // padding: 0 10px;
  box-sizing: border-box;
  * {
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
    overflow: hidden;
  }
}
.at-top-nav {
  @include top-nav;
}
// Carousel
// Hero carousel
.at-slider-hero {
  .carousel-item {
    h2 {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}
.at-sellers-carousel {
  .at-add-company {
    float: right;
    top: -38px;
    position: relative;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: relative;
  }
  .carousel-control-prev {
    top: -60px;
  }
  .carousel-control-next {
    right: -100%;
    margin-left: 5px;
    top: -85px;
  }
}
